*{ font-size: 11px; }

body, input, select, textarea { font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; }
body { color: #333;  background-color: #fff; text-align: left; }

a:link { color:#0060BF; text-decoration: underline; }
a:visited { color:#0060BF; text-decoration: underline; }
a:active { color:#0060BF; text-decoration: underline; }
a:hover { color:#000000; text-decoration: underline; }


h1, h2, h3, h4, h5, h6 { font-family: "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, arial, helvetica, sans-serif; font-weight: bold; color: #333; }
h1 { font-size: 1.8em; margin: 0em 0em 0.6em 0em; color: #333; }
h2 { font-size: 1.5em; margin: 1.2em 0em 0.4em 0em; }
h3 { font-size: 1.4em; margin: 1.2em 0em 0.4em 0em; color: #333; }
h4 { font-size: 1.2em; margin: 1.2em 0em 0.4em 0em; }
h5 { font-size: 1.0em; margin: 1.2em 0em 0.4em 0em; }
h6 { font-size: 0.8em; margin: 1.2em 0em 0.4em 0em; }

img { border: 0px; }

p { font-size: 1.0em; line-height: 1.3em; margin: 1.2em 0em 1.2em 0em; }
li > p { margin-top: 0.2em; }
pre { font-family: monospace; font-size: 1.0em; }
strong, b { font-weight: bold; }

/* PAGE ELEMENTS */

/* Content */

#content { margin: 0em auto; width: 765px; padding: 10px 0 10px 0; text-align: left; /* Win IE5 */ }
.content { margin-left: 4.5em; margin-right: 4.5em; }
.content ol, .content ul, .content li { font-size: 1.0em; line-height: 1.3em; margin: 0.2em 0 0.1em 1.5em; }
.content ol.terms li { margin-bottom: 1em; }

/* Header */

#header { padding-bottom: 10em; }
#headerlogo { float: left; }
#headerlogo img { width: 188px; height: 83px;  }
#headernav { float: right; }

label { font-weight: bold; }
#reminders label { font-weight: normal; }

table.tabbedtable { padding-left: 3em; }
table.tabbedtable td { padding-bottom: 5px; }
table.tabbedtable label { text-align: right; padding-right: 9px; }
.hiddenlabel { visibility: hidden; }
.largelink { border: 1px solid #cacaca; padding: 10px; background-color: #E8EEF7; font-size: 1.2em; font-weight: bold; }
.largelinkwrap { padding-top: 10px; padding-bottom: 10px; }


#userdiv{
	position: absolute;
	top: 10px;
	right: 10px;

}

#content{
	position: absolute;
	left : 20px;

}
/* Signup form */

#f_inscription table {
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

#f_inscription .label {
  padding-top: 2px;
  padding-right: 8px;
  vertical-align: top;
  text-align: right;
  width: 125px;
  white-space: nowrap;
}

#f_inscription .field {
  padding-bottom: 10px;
  white-space: nowrap;
}

#f_inscription .status {
  padding-top: 2px;
  padding-left: 8px;
  vertical-align: top;
  width: 246px;
  white-space: nowrap;
}

#f_inscription .textfield {
  width: 150px;
}

#f_inscription label.error {
  background:url("http://fliker.dyndns.org/fliker/images/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}

#f_inscription label.checked {
  background:url("http://fliker.dyndns.org/fliker/images/checked.gif") no-repeat 0px 0px;
}

#f_inscription .success_msg {
  font-weight: bold;
  color: #0060BF;
  margin-left: 19px;
}

#f_inscription #dateformatStatus, #f_inscription #termsStatus {
  margin-left: 6px;
}

#f_inscription #dateformat_eu {
 vertical-align: middle;
}

#f_inscription #ldateformat_eu {
  font-weight: normal;
  vertical-align: middle;
}

#f_inscription #dateformat_am {
  vertical-align: middle;
}

#f_inscription #ldateformat_am {
  font-weight: normal;
  vertical-align: middle;
}

#f_inscription #termswrap {
  float: left;
}

#f_inscription #terms {
  vertical-align: middle;
  float: left;
  display: block;
  margin-right: 5px;
}

#f_inscription #lterms {
  font-weight: normal;
  vertical-align: middle;
  float: left;
  display: block;
  width: 350px;
  white-space: normal;
}

#f_inscription #lsignupsubmit {
  visibility: hidden;
}

#f_search{

margin: 0 auto;


}

#f_search .main {
	float : left;
	width : 45%;
}

#f_search .selects{
	float : left;
	width : 45%;
}

#f_search .buttons{
clear : both;
text-align:center;
width : 93%;
}

#f_search .affichage{
clear : both;
width : 93%;
}

table {
  border-collapse: collapse;
  border: 1px solid #666666;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #f6f6f6;
  text-align:left;
  }
caption {
  text-align: center;
  font: bold 16px arial, helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #CC00FF;
  text-transform: uppercase;
}
thead, tfoot {
background:url(bg1.png) repeat-x;
text-align:left;
height:30px;
}
thead th, tfoot th {
padding:5px;
}
table a {
color: #333333;
text-decoration:none;
}
table a:hover {
text-decoration:underline;
}
tr.odd {
background: #f1f1f1;
}
tbody th, tbody td {
padding:5px;
}

/*
body, input, select, textarea { font-family: verdana, arial, helvetica, sans-serif; font-size: 11px; }
body { color: #333;  background-color: #fff; text-align: left; }

h3 {
border-bottom: 1px solid #006080;
letter-spacing: -2px;
line-height: 0.9em;
padding: 0px;
margin: 0px;
}
h1 {
font-size: 180%;
letter-spacing: -2px;
line-height: 0.9em;
font-variant : small-caps;
padding: 0px;
margin: 0px;
}


*/
